* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



html, body {

    font-family: Tahoma, Geneva, Verdana;
    line-height: 1.7em;
}

a {
    color: #A52A2A;
    text-decoration: none;


}

h1,h2,h3 {

    padding-bottom: 20px;
}

p {

    margin: 10px 0;
}

/* Navbar*/

#navbar {

    background:#B0B0B0;
    color: #A52A2A;
    overflow: auto;
}

#navbar a {
    color: #A52A2A;
}

#navbar h1 {

    float: left;
    padding-top: 20px;
}

#navbar ul {

    list-style-type: none;
    float: right;
}

#navbar ul li {

    float: left;
}

#navbar ul li a {
    display: block;

    padding: 20px;

    text-align: center;
}

#navbar ul li a:hover, 
#navbar ul li a.present {

    background: #CD853F;
    color: black;
}

.container {

    margin: auto;
    overflow: auto;
    padding: 0 20px;
}
.btn {

    display: inline-block;
    font-size: 18px;
    color: white;
    background: #A0A0A0;
    padding: 13px 20px;
    border: none;
    cursor: pointer;

}

.btn:hover {

    background: #A52A2A;
}

/* Showcase*/

#showcase {

    background: url('../images/apartment.jpg') no-repeat center center/cover;
    height: 600px;
}

#showcase .showcase-content {
    color: white;
    text-shadow: 1px 1px black;
    text-align: center;
    padding-top: 160px;
}

#showcase .showcase-content h1 {
    font-size:60px;
    line-height: 1.2em;

}

#showcase .showcase-content p {
    padding-bottom: 20px;
    line-height: 1.6em;
}